:root{
    --funtePrincipal: 'Nunito', sans-serif;
    --GrisOscuro: #636363;
    --GrisMediano: #a9a9a9;
    --GrisClaro: #c3c3c3;
    --Blanco: white;
    --Negro: black;

}

/*globales*/
html {
    font-size: 62.5%; /* 1 rem = 10px en monitores de alta resolucion*/
    box-sizing: border-box; /*aqui se realiza el box model*/
    
}
*,*:before, *:after{
    box-sizing: inherit;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;    
}
h1{
    font-family: var(--funtePrincipal);
    font-size: 3.8rem;
}
h2{
    font-family: var(--funtePrincipal);
    font-size: 2.8rem;
}
h3{
    font-family: var(--funtePrincipal);
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;    
}
body{
    background-image: linear-gradient(to bottom, black,gray ,white);
   
}

/*header*/
.InicioC{
    width: 100%;
    display: grid;
    grid-template-columns: 80% 10% 10%;
    gap: 1rem;
}

/* MAIN*/

.main{
    display: flex;
    flex-direction: column;
    
}

.portada{
    width: 100%;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    margin-bottom: 1rem;
}
.servicios{
    margin-top: 1rem;
    width: 100%;
    background-color: var(--GrisOscuro);
    padding: 1rem;
    height: 50vh;
}
.cajaM{
    display: flex;
    flex-direction: column;   
    width: 90%;
    height: 32vh;
    margin: 0 auto;
}
.mensaje{
    display: flex;
    flex-direction: column;
}
.mensajeM{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    font-family: var(--funtePrincipal);

}
.texto{
    height: 20vh;
}
.enviar{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;   

}
.enviar a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--Negro);
}

.boton{
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: var(--GrisClaro);
    border-bottom: 1px solid black;
}
.boton:hover{

    background-color: var(--GrisOscuro);
    color: var(--Blanco);
    cursor: pointer;

}