:root{
    --funtePrincipal: 'Nunito', sans-serif;
    --GrisOscuro: #636363;
    --GrisMediano: #a9a9a9;
    --GrisClaro: #c3c3c3;
    --Blanco: white;
    --Negro: black;

}

/*globales*/
html {
    font-size: 62.5%; /* 1 rem = 10px en monitores de alta resolucion*/
    box-sizing: border-box; /*aqui se realiza el box model*/
    
}
*,*:before, *:after{
    box-sizing: inherit;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;    
}
h1{
    font-family: var(--funtePrincipal);
    font-size: 3.8rem;
}
h2{
    font-family: var(--funtePrincipal);
    font-size: 2.8rem;
}
h3{
    font-family: var(--funtePrincipal);
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;    
}
body{
    background-image: linear-gradient(to bottom, black,gray ,white);
    background-repeat: no-repeat;
    background-size: cover;
}

/*header*/


.header-cajaPrincipal{
    display: grid;    
    grid-template-columns: 20% 60% 20% ;
    column-gap: 1rem;
}
.cajaH{
    background-color:var(--GrisMediano);
    border-radius: 2rem;
}
.icono a{
    text-decoration: none;
}

.navegacion{
   
    text-align: center;
    
}
.enlacesH{
    margin-top: 3rem;
}
.navegacion a{
    display: inline-block;    
    background-color:var(--GrisClaro);
    text-decoration: none;
    font-size: 1.7rem;    
    padding: 0 1rem;
    border-radius: 1rem;    
    width: auto;
    height: auto;
    color: var(--Negro);
}
.navegacion a:hover{
    background-color: var(--GrisOscuro);
    color: var(--Blanco);
}
/*main*/
.contenedorPrincipal{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1rem;
    height: 75vh;
}
.mainPrincipal{
    background-color:var(--GrisOscuro);
    border-radius: 2rem;
}
.mainPrincipal h2{
    color: var(--Blanco);
}

.inf-emp{ 
    
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    
}
.inf{
    background-color: var(--GrisClaro);
    margin: 5px;
    border-radius: 2rem; 
    text-transform: uppercase;
    
}
/*aside*/
.aside{
    background-color:var(--GrisOscuro);
    border-radius: 2rem; 
}
.aside h2{
    color: var(--Blanco);
}
.caja-aside{
    width: 90%;
    height: auto;
    margin: 1rem auto;
    border-radius: 2rem;
    text-transform: uppercase;
}
.usuariosOnline{
    background-color: var(--GrisMediano);
    text-transform: uppercase;
    
}
.Cumpleaños{
    background-color:var(--GrisMediano);
}
.Anuncios{
    background-color:var(--GrisMediano);
}


/*footer*/

.footer{
    width: 100%;
    background-color: var(--GrisOscuro);
    text-align: center;
    border-radius: 2rem;
    margin-top: 1rem;
}
/*mensajes*/

.busqueda{
    
    width: 95%;
    height: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}
.menuM{
    width: 95%;
    height: 50vh;
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 1rem; 
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    
}
.buzon a{
    text-decoration: none;
}
.buzon{
    display: flex;
    flex-direction: column;    
    background-color:var(--GrisClaro);
    text-decoration: none;
    font-size: 1.6rem;    
    padding: 0 1rem;
    border-radius: 1rem;    
    width: auto;
    height: 35vh;
    color: var(--Negro);
    
}
.buzon a{
    color: var(--Negro);
    padding-top: 1rem;
    margin-top: 1rem;
}

.buzon a:hover{

    background-color: var(--GrisOscuro);
    color: var(--Blanco);
    border-radius: 1rem;

}

.mensajeM{
    display: flex;
    justify-content: space-between;
}

.mensajeM label{
    font-size: 2rem;
    font-family: var(--funtePrincipal);
    font-weight: 400;
}
 .texto{
     width: 100%;
     height: 40vh;
 }

 .enviar{
     text-align: right;
     margin-right: 1rem;
 }

 .enviar a{
    display: inline-block;    
    background-color:var(--GrisClaro);
    text-decoration: none;
    font-size: 1.7rem;    
    padding: 0 1rem;
    border-radius: 1rem;    
    width: auto;
    height: auto;
    color: var(--Negro);
 }
 .enviar a:hover{
    background-color: var(--GrisOscuro);
    color: var(--Blanco);
 }
